.Player-hand {
  bottom: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.Players {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.Player {
  width: 100px;
  height: 100px;
}

.MoveDisplay {
  width: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -25%;
  margin-top: -1em;
  font-size: 2em;
  text-align: center;
  color: #c0c0c0;
}

.Timer {
  width: 98%;
  left: 0;
  padding-left: 2%;
  bottom: 0;
  position: absolute;
  background-color: white;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}
