.Player-hand {
  bottom: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.Players {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.Player {
  width: 100px;
  height: 100px;
}

.MoveDisplay {
  width: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -40%;
  margin-top: -1em;
  font-size: 2em;
  text-align: center;
  color: #c0c0c0;
}

.Timer {
  width: 98%;
  left: 0;
  padding-left: 2%;
  bottom: 0;
  position: absolute;
  background-color: white;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}

.MakeMoveCover, .ClaimCover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.CardSelector {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}
